@model ElderyPeopleCare.Models.ChallangeQuestions

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>ChallangeQuestions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Challange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Challange.cId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question.qId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
